.fa-facebook-square {
  color: #3B5998;
}

.fa-twitter-square {
  color: #3CF;
}

.fa-linkedin-square {
  color: #4875B4;
}

.fa-google-plus-square {
  color: #C63D2D;
}

.fa-instagram {
  color: #4E433C;
}

.fa-tumblr-square {
  color: #2B4964;
}

.fa-github-square {
  color: #999;
}

.fa-reddit-square {
  color: #336699;
}

.fa-stack-exchange {
  color: #153F85;
}
