// Content wrapper
.wrap {
  @include grid-row();
}

// Main content area
.main {
  @include grid-column(
    // Control the number of columns
    $columns:12,
    // Specify whether or not this is the last column in the row
    $last-column:true,
    // Set to true to remove column padding
    $collapse: true,
    // Specify the float direction
    $float: left
  );
}

blockquote p {
  @include fa-content("\f10d");

  &:before {
    float: left;
    padding: 0;
    margin: rem-calc( 0 10 0 -30);
  }
}
