.banner {
  @include grid-row();
  margin: 0 auto;
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(10);
  background-color: $primary-color;
}

#logo  {
  @include grid-column(
      $columns: 3,
      $last-column: false,
      $float: left,
      $collapse: false
  );

  @media #{$small-only} {
    @include grid-column(
        $columns: 0
    );
    display: none;
  }

  .container {
    padding: 0;
    width: 180px;
    height: 180px;
    -webkit-border-radius: 90px;
       -moz-border-radius: 90px;
            border-radius: 90px;
  }
}

#blog-info {
  @include grid-column(
    $columns: 9,
    $last-column: true,
    $float: right,
    $collapse: false
  );
  padding-left: 40px;
  height: 100%;

  @media #{$small-only} {
    @include grid-column(
      $columns: 12,
      $last-column: true,
      $float: right,
      $collapse: false
    );
    padding: 0;
    text-align: center;
  }

  #title {
    h1 {
      margin-bottom: 0;
      font-size: $h1-font-size * 1.25;
    }
  }

  #social-links {
    padding: 10px 0;

    .fa {
      font-size: $h2-font-size;

      &:hover {
        color: $font-color-dark;
      }
    }
  }

  #subtitle {
    vertical-align: "bottom";

    h2 {
      font-size: $h4-font-size;
    }
  }
}
