.home {
  #splash {
    height: 100%;
    margin-bottom: 0;
    background-size: cover;

    .nav-container {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .banner {
      position: relative;
      top: 50%;
      margin: auto;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }

  .wrap {
    margin-top: 65px;
  }
}
