.entry-meta {
  @include inline-list;
  font-size: 80%;
  border-radius: $small-radius;
  background-color: $secondary-color;
  margin: -10px -10px 20px;
  padding: 10px 0;

  span {
    height: 20px;
  }

  a {
    color: $font-color-dark;

    &:hover {
      color: $primary-color;
    }
  }

  .fa {
    font-size: 40%;
  }

  time {

  }
  .byline {

  }
}
