.threads-post-notice {
  background-color: darken( $accent-dark, 5% );
  color: $font-color-light;
  font-size: 90%;
  margin: 0 -10px 10px;
  padding: 10px;
  border-radius: 5px;

  a {
    color: darken( $secondary-color, 10% );

    &:hover {
      color: darken( $secondary-color, 30% );
    }
  }
}
