.format-audio {
  margin: 0 -30px 20px;
  padding: 10px 30px 5px;
  background-color: darken( $secondary-color, 7% );

  .entry-title {
    margin: 0;
    padding: 0;

    a {
      font-size: $h2-font-size;
    }
  }

  .entry-content {

  }

  .entry-audio {
    @include flex-video-container();
  }
}
