.format-gallery {
  margin: 0 -30px 20px;
  padding: 10px 30px 5px;
  background-color: darken( $secondary-color, 7% );

  .gallery-wrap {
    @include block-grid(
      $per-row: 4
    );

    @media #{$small-only} {
      @include block-grid(
        $per-row: 6
      );
    }

    & > li {
      clear: none !important;
      margin-right: 0;
    }

    li {
      @media #{$small-only} {
        padding-right: 5px;
        padding-bottom: 10px;
      }
    }
  }

  .gallery-thumb {
    @include thumb;
  }

  .gallery-last {

    li {

      height: 100%;
    }

    a {
      padding: 20px;
      background-color: $accent-dark;
      height: 100%;
      color: $font-color-light;
    }
  }

  .entry-content {
  }
}
