.format-gallery {
  margin: -30px -30px 50px;;
  padding: 30px;
  background-color: darken( $secondary-color, 7% );

  .gallery-thumb {
    @include thumb;
  }

  .gallery-last {

    li {

      height: 100%;
    }

  }
}
