.format-image {
  margin: 0 -30px 20px;
  padding: 10px 30px 5px;
  background-color: darken( $secondary-color, 7% );

  .entry-image {
    margin: 0 auto 20px;
  }

  .entry-title {
    font-size: $h6-font-size;
  }
}
