.format-link {
  padding: rem-calc(25 30 10);
  background-color: $accent-light;

  @media #{$small-only} {
    margin: rem-calc(0 0 10);
    padding: rem-calc(0 -10);
  }

  .entry-content {
    border-radius: $global-radius;

    a {
      color: darken( $secondary-color, 10% );

      &:hover {
        color: darken( $secondary-color, 30% );
      }
    }
  }

  .link-meta {
    margin: rem-calc(0 -10 10);
    padding: rem-calc(10);
    background-color: $accent-dark;
    color: $secondary-color;
    border-radius: $small-radius;

    p, h6, small {
      font-family: 'Source Code Pro';
    }

    a {
      color: darken( $secondary-color, 10% );

      &:hover {
        color: darken( $secondary-color, 30% );
      }
    }
  }

  .link-title {
    margin-bottom: 2px;
    font-size: rem-calc($rem-base * 1.1);
  }

  .link-provider {
    font-size: rem-calc($rem-base * 0.6);
    margin-bottom: 0;

    a {
      text-transform: uppercase;
    }
  }

  .link-description {
    line-height: 1.25em;
  }

  code {
    color: darken( $primary-color, 10% );
  }
}
