.format-link {
  margin-bottom: 70px;

  .entry-content {
    margin: -30px;
    padding: 30px;
    background-color: $accent-light;

    p {
      margin-bottom: 30px;
      color: $font-color-dark;
    }
  }

  .link-meta {
    @include grid-row($behavior: nest-collapse);
    margin: -30px -30px;
    padding: 30px 30px 20px;
    background-color: $accent-dark;
    color: $secondary-color;

    @media #{$small-only} {
      margin: -20px -30px -30px;;
      padding: 20px 30px 20px;
    }

  }

  .link-title {
    font-size: rem-calc($rem-base * 1.1);
  }

    a {
      color: $primary-color;

      &:hover {
        color: darken( $secondary-color, 30% );
      }
    }

  .link-provider {
    font-size: rem-calc($rem-base * 0.6);
    margin-bottom: 0;

    a {
      text-transform: uppercase;
    }
  }

  .link-info {
    @include grid-column(
      // Control the number of columns
      $columns: 12,
      // Specify whether or not this is the last column in the row
      $last-column: true,
      // Set to true to remove column padding
      $collapse: false,
      // Specify the float direction
      $float: right
    );
  }

  .entry-meta a {
    color: $font-color-dark;

    &:hover {
      color: $primary-color;
    }
  }
}
