.format-link {
  margin: 0 -30px 20px;
  padding: 25px 30px 10px;
  background-color: $accent-light;

  .entry-content {
    border-radius: $global-radius;

    a {
      color: darken( $secondary-color, 10% );

      &:hover {
        color: darken( $secondary-color, 30% );
      }
    }
  }

  .link-meta {
    margin: 0 -10px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: $accent-dark;
    color: $secondary-color;
    border-radius: $small-radius;
    font-family: 'Source Code Pro';
    font-size: 90%;

    a {
      color: darken( $secondary-color, 10% );

      &:hover {
        color: darken( $secondary-color, 30% );
      }
    }
  }

  .link-title {
    font-family: 'Ubuntu';
    margin-bottom: 2px;
    font-size: rem-calc($rem-base * 1.1);
  }

  .link-provider {
    font-size: rem-calc($rem-base * 0.6);
    margin-bottom: 0;

    a {
      text-transform: uppercase;
    }
  }

  .link-info {
  }

  code {
    color: darken( $primary-color, 10% );
  }
}
