.hentry {
  margin: rem-calc(0 -30 20);
  padding: rem-calc(10 30 5);
  border-radius: $global-radius;

  @media #{$small-only} {
    margin: rem-calc(0 0 10);
    padding: rem-calc(0 -10);
  }

  .entry-title {
    margin-bottom: 10px;
  }

  .entry-thumbnail {
    float: left;
    margin: rem-calc(0 20 10 0);
  }

  .entry-content { }

  .comments-link {
    @include clearfix;
    margin-bottom: 10px;

    a {
      background-color: $secondary-color;
      margin: 0 -10px;
      padding: 10px;
      border-radius: $small-radius;
      float: right;
      font-size: 24px;
      @include fa-content("\f178", after);
    }
  }

  sup a {
    font-size: 130%;
    font-color: $accent-dark;
  }
}
