.hentry {
  margin-bottom: 20px;
  border-radius: $global-radius;

  .entry-title {
    margin-bottom: 10px;
  }

  .entry-thumbnail {
    float: left;
    margin: 0 20px 10px 0;
  }

  .entry-content { }

  .comments-link {
    @include clearfix;

    a {
      background-color: $secondary-color;
      margin: 0 -10px;
      padding: 10px;
      border-radius: $small-radius;
      float: right;
      font-size: 24px;
      @include fa-content("\f178", after);
    }
  }
}
