.hentry {
  margin-bottom: 50px;
  padding: 0 10px 10px;
  border-radius: $global-radius;

  h1 {

  }

  header { }

  .entry-content { }

  .entry-title {
    margin-bottom: 30px;
  }

  p.threads-post-notice {
    background-color: darken( $secondary-color, 5% );
    color: $accent-dark;
    font-size: 90%;
    margin: -10px -10px 20px;
    padding: 10px;
    border-radius: $small-radius;
  }

  .entry-thumbnail {
    float: left;
    margin: 0 20px 10px 0;
  }

  .single & {
    margin-bottom: 10px;
  }
}
