.format-quote {
  margin: 0 -30px 20px;
  padding: 30px;
  background-color: $accent-dark;
  border-radius: $global-radius;

  .entry-content {

    blockquote {
      * {
        margin-bottom: 10px;
        color: $font-color-light;
      }

      a {
        color: $accent-light;
        font-size: 150%;

        &:hover {
          color: lighten( $accent-light, 5% );
        }
      }
    }
  }

  .entry-meta {
    margin-bottom: 0;
  }
}
