.format-status {

  .entry-content {
    margin: -20px -30px;
    padding: 30px 30px 10px;
    background-color: darken( $secondary-color, 20% );
    border-radius: $global-radius;
  }

  .single & {
    margin-bottom: 30px;
  }
}
